		<section class="ftco-section ftco-car-details">
      <div class="container">
      	<div class="row justify-content-center">
      		<div class="col-md-12">
      			<div class="car-details">
      				<div class="img rounded" style="background-image: url(images/bg_1.jpg);"></div>
      				<div class="text text-center">
      					<span class="subheading">Citroen</span>
      					<h2>Berlingo</h2>
                <img src="assets\images\berlingo.webp" height="300px" width="450px" alt="">
      				</div>
      			</div>
      		</div>
      	</div>
      	<div class="row">
      		<div class="col-md d-flex align-self-stretch ftco-animate">
            <div class="media block-6 services">
              <div class="media-body py-md-4">
              	<div class="d-flex mb-3 align-items-center">
	              	<div class="icon d-flex align-items-center justify-content-center"><span class="flaticon-dashboard"></span></div>
	              	<div class="text">
		                <h3 class="heading mb-0 pl-3">
		                	Kilometrage :
		                	<span>300,000</span>
		                </h3>
	                </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md d-flex align-self-stretch ftco-animate">
            <div class="media block-6 services">
              <div class="media-body py-md-4">
              	<div class="d-flex mb-3 align-items-center">
	              	<div class="icon d-flex align-items-center justify-content-center"><span class="flaticon-pistons"></span></div>
	              	<div class="text">
		                <h3 class="heading mb-0 pl-3">
		                	Transmission :
		                	<span>Manuelle obviously</span>
		                </h3>
	                </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md d-flex align-self-stretch ftco-animate">
            <div class="media block-6 services">
              <div class="media-body py-md-4">
              	<div class="d-flex mb-3 align-items-center">
	              	<div class="icon d-flex align-items-center justify-content-center"><span class="flaticon-car-seat"></span></div>
	              	<div class="text">
		                <h3 class="heading mb-0 pl-3">
		                	Sieges :
		                	<span>5 (minimum)</span>
		                </h3>
	                </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md d-flex align-self-stretch ftco-animate">
            <div class="media block-6 services">
              <div class="media-body py-md-4">
              	<div class="d-flex mb-3 align-items-center">
	              	<div class="icon d-flex align-items-center justify-content-center"><span class="flaticon-backpack"></span></div>
	              	<div class="text">
		                <h3 class="heading mb-0 pl-3">
		                	Taille du coffre :
		                	<span>assez grand</span>
		                </h3>
	                </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md d-flex align-self-stretch ftco-animate">
            <div class="media block-6 services">
              <div class="media-body py-md-4">
              	<div class="d-flex mb-3 align-items-center">
	              	<div class="icon d-flex align-items-center justify-content-center"><span class="flaticon-diesel"></span></div>
	              	<div class="text">
		                <h3 class="heading mb-0 pl-3">
		                	glouglou : <br>
		                	<span>Diesel</span>
		                </h3>
	                </div>
                </div>
              </div>
            </div>
          </div>
      	</div>
      	<div class="row">
      		<div class="col-md-12 pills">
						<div class="bd-example bd-example-tabs">
							<div class="d-flex justify-content-center">
							  <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
							    <li class="nav-item">
							      <a class="nav-link active" id="pills-description-tab" data-toggle="pill" href="#pills-description" role="tab" aria-controls="pills-description" aria-expanded="true">Caracteristiques</a>
							    </li>
							  </ul>
							</div>

						  <div class="tab-content" id="pills-tabContent">
						    <div class="tab-pane fade show active" id="pills-description" role="tabpanel" aria-labelledby="pills-description-tab">
						    	<div class="row">
						    		<div class="col-md-4">
						    			<ul class="features">
						    				<li class="check"><span class="ion-ios-checkmark"></span>5,4L/100 km</li>
						    				<li class="check"><span class="ion-ios-checkmark"></span>141g CO2/km</li>
						    				<li class="check"><span class="ion-ios-checkmark"></span>70 chevaux</li>
						    				<li class="check"><span class="ion-ios-checkmark"></span>145 km/h max</li>
						    				<li class="check"><span class="ion-ios-checkmark"></span>meilleur voiture au monde, je veux rien savoir</li>
						    			</ul>
						    		</div>
						    		<div class="col-md-4">
						    			<ul class="features">
						    				<li class="check"><span class="ion-ios-checkmark"></span>Longueur : 4402 mm</li>
						    				<li class="remove"><span class="ion-ios-close"></span>Largeur : 1848 mm</li>
						    				<li class="check"><span class="ion-ios-checkmark"></span>hauteur : 1874 mm</li>
						    				<li class="check"><span class="ion-ios-checkmark"></span>Volume de coffre : 775 litres (de pinard ou de pastis, au choix)</li>
						    				<li class="remove"><span class="ion-ios-close"></span>Suffisamment d'espace pour caser une équipe de rugby</li>
						    			</ul>
						    		</div>
						    		<div class="col-md-4">
						    			<ul class="features">
						    				<li class="check"><span class="ion-ios-checkmark"></span>Radio à Led Zepellin</li>
						    				<li class="check"><span class="ion-ios-checkmark"></span>Antibrouillard</li>
						    				<li class="check"><span class="ion-ios-checkmark"></span>Boîte à gants réfrigérée</li>
						    				<li class="check"><span class="ion-ios-checkmark"></span>vitres electriques</li>
						    				<li class="check"><span class="ion-ios-checkmark"></span>VILLEBREQUIN APROVED</li>
						    			</ul>
						    		</div>
						    	</div>
						    </div>
						  </div>
						</div>
		      </div>
				</div>
      </div>
    </section>

    <div class="p-3 text-bg-dark">
      <footer class="">
        <div class="row">
          <div class="col">
            <h5>Nos marques</h5>
            <ul class="nav flex-column">
              <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Citroen</a></li>
              <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Renault</a></li>
              <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Peugeot</a></li>
              <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Tata</a></li>
              <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Tesla</a></li>
            </ul>
          </div>

          <div class="col">
            <h5>Villes</h5>
            <ul class="nav flex-column">
              <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Lille</a></li>
              <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Paris</a></li>
              <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Lyon</a></li>
              <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Marseille</a></li>
              <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Toulon</a></li>
            </ul>
          </div>

          <div class="col">
            <h5>Nos spécialités</h5>
            <ul class="nav flex-column">
              <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Voiture de mariage</a></li>
              <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Voiture de sport</a></li>
              <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Voiture electrique</a></li>
            </ul>
          </div>

          <div class="col">
            <h5>Conditions</h5>
            <ul class="nav flex-column">
              <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Assurance</a></li>
              <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">FAQ</a></li>
              <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">CGU</a></li>
              <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Conseils</a></li>
            </ul>
          </div>

          <div class="col">
            <h5>Nous trouver</h5>
            <ul class="nav flex-column">
              <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Facebook</a></li>
              <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Instagram</a></li>
              <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Twitter</a></li>
              <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Nous contacter</a></li>
            </ul>
          </div>

          <div class="d-flex justify-content-center">
            <form>
              <h5>S'inscrire à notre newsletter</h5>
              <p>Pour suivre toutes les conneries que l'on pourrait faire</p>
              <div class="d-flex justify-content-center flex-sm-row w-100 gap-2">
                <label for="newsletter1" class="visually-hidden">Votre adresse mail</label>
                <input id="newsletter1" type="text" class="form-control" placeholder="Votre adresse mail">
                <button class="btn btn-primary" type="button">Validationer</button>
              </div>
            </form>
          </div>
        </div>

        <div class="d-flex flex-column flex-sm-row justify-content-between py-4 my-4 border-top">
          <p>&copy; 2022 Locanarque. Fait avec beaucoup de soin.</p>
          <ul class="list-unstyled d-flex">
            <li class="ms-3"><a class="link-dark" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#twitter"/></svg></a></li>
            <li class="ms-3"><a class="link-dark" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#instagram"/></svg></a></li>
            <li class="ms-3"><a class="link-dark" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#facebook"/></svg></a></li>
          </ul>
        </div>
      </footer>
    </div>
