<nav class="p-3 text-bg-dark">
  <div class="container-fluid">
    <ul style="list-style-type: none;" class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
      <li class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
        <a class="nav-link" routerLink="/home" routerLinkActive="active"
          ><img
            src="assets/images/logolocarnaque.jpg"
            alt=""
            height="100px"
            width="150px"
        /></a>
      </li>
      <li class="nav-item">
        <a
          *ngIf="admin"
          class="nav-link"
          routerLink="/"
          routerLinkActive="active"
          >Clients</a
        >
      </li>
      <li class="nav-item">
        <a
          *ngIf="admin"
          class="nav-link"
          routerLink="/"
          routerLinkActive="active"
          >Loueurs</a
        >
      </li>
      <li class="nav-item">
        <a
          *ngIf="admin"
          class="nav-link"
          routerLink="/"
          routerLinkActive="active"
          >Annonces</a
        >
      </li>
      <li class="nav-item">
        <a
          *ngIf="anonymous"
          type="button"
          class="btn btn-outline-light me-2"
          routerLink="/inscription"
          routerLinkActive="active"
          >Inscription client</a
        >
      </li>
      <li class="nav-item">
        <a
          *ngIf="anonymous"
          type="button"
          class="btn btn-outline-light me-2"
          routerLink="/inscription"
          routerLinkActive="active"
          >Inscription loueur</a
        >
      </li>
      <li class="nav-item">
        <a
          *ngIf="anonymous"
          type="button"
          class="btn btn-warning"
          routerLink="/login"
          routerLinkActive="active"
          >Connexion</a
        >
      </li>
      <li *ngIf="authenticated" class="nav-item">
        <button class="btn btn-link nav-link" (click)="logoff()">
          Deconnexion
        </button>
      </li>
    </ul>
  </div>
</nav>
