<div class="d-flex justify-content-around">
  <div>
  <form (ngSubmit)="save()" [formGroup]="form">
    <h4>Vos informations générales</h4>
    <ng-container formGroupName="groupeInfo">
      <div class="form-group">
        <label for="nom">nom:</label>
        <input formControlName="prenom" class="form-control" placeholder="Votre nom" />
        <div
          *ngIf="
            form.get('groupeInfo.prenom')?.dirty &&
            form.get('groupeInfo.prenom')?.invalid
          "
          class="alert alert-danger"
        >
          probleme nom
        </div>
      </div>
      <div class="form-group">
        <label for="prenom">prenom:</label>
        <input formControlName="nom" class="form-control" placeholder="Votre prénom" />
        <div
          *ngIf="
            form.get('groupeInfo.nom')?.dirty &&
            form.get('groupeInfo.nom')?.invalid
          "
          class="alert alert-danger"
        >
          probleme prenom
        </div>
      </div>
      <ng-container formGroupName="groupePassword">
        <div class="form-group">
          <label for="password">password:</label>
          <input type="password" formControlName="password" class="form-control" placeholder="********"/>
          <small id="emailHelp" class="form-text text-muted">Essayez de ne pas utiliser le nom de votre chien.</small>
          <div
            *ngIf="
              form.get('groupeInfo.groupePassword.password')?.dirty &&
              form.get('groupeInfo.groupePassword.password')?.invalid
            "
            class="alert alert-danger"
          >
            probleme password
          </div>
        </div>
        <div class="form-group">
          <label for="confirmation">confirmation:</label>
          <input type="password" formControlName="confirmation" class="form-control" placeholder="Confirmez le" />
          <div
            *ngIf="
              form.get('groupeInfo.groupePassword')?.dirty &&
              form.get('groupeInfo.groupePassword')?.invalid
            "
            class="alert alert-danger"
          >
            probleme confirmation
          </div>
        </div>
      </ng-container>
    </ng-container>
    <div class="form-group">
      <label for="email">email:</label>
      <input type="email" formControlName="email" class="form-control" placeholder="Entre votre email" />
      <small id="emailHelp" class="form-text text-muted">Pour que l'on puisse communiquer.</small>
      <div
        *ngIf="form.get('email')?.dirty && form.get('email')?.invalid"
        class="alert alert-danger"
      >
        probleme email
      </div>
    </div>
    <div class="form-group">
      <label for="age">age:</label>
      <input type="number" formControlName="age" class="form-control" placeholder="Entrez votre age" />
      <small id="emailHelp" class="form-text text-muted">Pour savoir si vous êtes un enfant ou pas.</small>
    </div>
    <div class="form-group">
      <label for="anneePermis">anneePermis:</label>
      <input type="number" formControlName="anneePermis" class="form-control" placeholder="Entrez votre date de permis" />
      <small id="emailHelp" class="form-text text-muted">On ne sais jamais...</small>
    </div>
    <div class="form-group">
      <label for="accident">accident:</label>
      <input type="number" formControlName="accident" class="form-control" placeholder="0 ?"/>
      <small id="emailHelp" class="form-text text-muted">Pour savoir si vous êtes un chauffard ou pas.</small>
    </div>
  </form>
  </div>
  <div>
    <form (ngSubmit)="save()" [formGroup]="form">
    <h4>Votre adresse</h4>
     <div class="form-group">
      <label for="numero">numero:</label>
      <input formControlName="numero" class="form-control" />
    </div>
    <div class="form-group">
      <label for="voie">voie:</label>
      <input formControlName="voie" class="form-control" />
    </div>
    <div class="form-group">
      <label for="cp">code postal:</label>
      <input formControlName="cp" class="form-control" />
    </div>
    <div class="form-group">
      <label for="ville">ville:</label>
      <input formControlName="ville" class="form-control" />
    </div>
    <div>
      <button
        type="submit"
        [disabled]="form.invalid"
        class="btn btn-outline-primary"
      >
        envoyer
      </button>
    </div>
  </form>
</div>
</div>
