<main>
  <section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">Askip, t'as pas de voiture ?</h1>
        <p class="lead text-muted">
          Loues en une chez nous, ya pas d'arnaque, wallah jte jure.
        </p>
        <p>
          <a
            type="button"
            class="btn btn-primary my-2"
            routerLink="/annonce"
            routerLinkActive="active"
          >
            Regarder nos voitures</a
          >
        </p>
      </div>
    </div>
  </section>

<section>
  <div class="d-flex justify-content-center">
    <h1>Un grand choix de types de voitures</h1>
  </div>
<div class="d-flex justify-content-center">
  <div class="card" style="width: 18rem;">
    <img src="assets\images\citadine.png" class="card-img-top" width="300" height="300" >
    <div class="card-body">
      <h5 class="card-title">Citadine</h5>
      <a routerLink="/annonce" routerLinkActive="active" class="btn btn-primary">Louer</a>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <img src="assets\images\sportive" class="card-img-top" width="300" height="300" >
    <div class="card-body">
      <h5 class="card-title">Sportive</h5>
      <a routerLink="/annonce" routerLinkActive="active" class="btn btn-primary">Louer</a>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <img src="assets\images\utilitaire.jpg" class="card-img-top" width="300" height="300" >
    <div class="card-body">
      <h5 class="card-title">Utilitaire</h5>
      <a routerLink="/annonce" routerLinkActive="active" class="btn btn-primary">Louer</a>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <img src="assets\images\familliale.jpg" class="card-img-top" width="300" height="300" >
    <div class="card-body">
      <h5 class="card-title">Familliale</h5>
      <a routerLink="/annonce" routerLinkActive="active" class="btn btn-primary">Louer</a>
    </div>
  </div>
</div>
</section>
<section>
  <div class="d-flex justify-content-center">
    <h1>Disponible partout en France</h1>
  </div>
  <div class="d-flex justify-content-center">
    <div class="card" style="width: 18rem;">
      <img src="assets\images\Lille.jpg" class="card-img-top" width="300" height="300" >
      <div class="card-body">
        <h5 class="card-title">Lille</h5>
        <a routerLink="/annonce" routerLinkActive="active" class="btn btn-primary">Voir les annonces</a>
      </div>
    </div>
    <div class="card" style="width: 18rem;">
      <img src="assets\images\paris.jpg" class="card-img-top" width="300" height="300" >
      <div class="card-body">
        <h5 class="card-title">Paris</h5>
        <a routerLink="/annonce" routerLinkActive="active" class="btn btn-primary">Voir les annonces</a>
      </div>
    </div>
    <div class="card" style="width: 18rem;">
      <img src="assets\images\marseille.jpg" class="card-img-top" width="300" height="300" >
      <div class="card-body">
        <h5 class="card-title">Marseille</h5>
        <a routerLink="/annonce" routerLinkActive="active" class="btn btn-primary">Voir les annonces</a>
      </div>
    </div>
    <div class="card" style="width: 18rem;">
      <img src="assets\images\lyon.jpg" class="card-img-top" width="300" height="300" >
      <div class="card-body">
        <h5 class="card-title">Lyon</h5>
        <a routerLink="/annonce" routerLinkActive="active" class="btn btn-primary">Voir les annonces</a>
      </div>
    </div>
    <div class="card" style="width: 18rem;">
      <img src="assets\images\toulon.webp" class="card-img-top" width="300" height="300" >
      <div class="card-body">
        <h5 class="card-title">Toulon</h5>
        <a routerLink="/annonce" routerLinkActive="active" class="btn btn-primary">Voir les annonces</a>
      </div>
    </div>
  </div>
</section>












<!--  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
    <div class="col">
      <div class="card shadow-sm">
        <div class="card-body">
          <p class="card-text">C'est une belle voiture</p>
          <div class="d-flex justify-content-between align-items-center">
            <div class="info">
              <p class="card-text">John Doe. Il y a 5 jours.</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card shadow-sm">
        <div class="card-body">
          <p class="card-text">C'est une belle voiture</p>
          <div class="d-flex justify-content-between align-items-center">
            <div class="info">
              <p class="card-text">John Doe. Il y a 5 jours.</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card shadow-sm">
        <div class="card-body">
          <p class="card-text">C'est une belle voiture</p>
          <div class="d-flex justify-content-between align-items-center">
            <div class="info">
              <p class="card-text">John Doe. Il y a 5 jours.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="album py-5 bg-light">
    <div class="container">
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <div class="col">
          <div class="card shadow-sm">
            <svg
              class="bd-placeholder-img card-img-top"
              width="100%"
              height="225"
              xmlns="http://www.w3.org/2000/svg"
              role="img"
              aria-label="Placeholder: Thumbnail"
              preserveAspectRatio="xMidYMid slice"
              focusable="false"
            >
              <title>Placeholder</title>
              <rect width="100%" height="100%" fill="#55595c" />
              <text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text>
            </svg>
            <div class="card-body">
              <p class="card-text">Voiture trés jolie</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button
                    type="button"
                    class="btn btn-sm btn-outline-secondary"
                  >
                    Louer
                  </button>
                </div>
                <small class="text-muted">115 € / jour</small>
              </div>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card shadow-sm">
            <svg
              class="bd-placeholder-img card-img-top"
              width="100%"
              height="225"
              xmlns="http://www.w3.org/2000/svg"
              role="img"
              aria-label="Placeholder: Thumbnail"
              preserveAspectRatio="xMidYMid slice"
              focusable="false"
            >
              <title>Placeholder</title>
              <rect width="100%" height="100%" fill="#55595c" />
              <text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text>
            </svg>
            <div class="card-body">
              <p class="card-text">Voiture trés jolie</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button
                    type="button"
                    class="btn btn-sm btn-outline-secondary"
                  >
                    Louer
                  </button>
                </div>
                <small class="text-muted">115 € / jour</small>
              </div>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card shadow-sm">
            <svg
              class="bd-placeholder-img card-img-top"
              width="100%"
              height="225"
              xmlns="http://www.w3.org/2000/svg"
              role="img"
              aria-label="Placeholder: Thumbnail"
              preserveAspectRatio="xMidYMid slice"
              focusable="false"
            >
              <title>Placeholder</title>
              <rect width="100%" height="100%" fill="#55595c" />
              <text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text>
            </svg>
            <div class="card-body">
              <p class="card-text">Voiture trés jolie</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button
                    type="button"
                    class="btn btn-sm btn-outline-secondary"
                  >
                    Louer
                  </button>
                </div>
                <small class="text-muted">115 € / jour</small>
              </div>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card shadow-sm">
            <svg
              class="bd-placeholder-img card-img-top"
              width="100%"
              height="225"
              xmlns="http://www.w3.org/2000/svg"
              role="img"
              aria-label="Placeholder: Thumbnail"
              preserveAspectRatio="xMidYMid slice"
              focusable="false"
            >
              <title>Placeholder</title>
              <rect width="100%" height="100%" fill="#55595c" />
              <text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text>
            </svg>
            <div class="card-body">
              <p class="card-text">Voiture trés jolie</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button
                    type="button"
                    class="btn btn-sm btn-outline-secondary"
                  >
                    Louer
                  </button>
                </div>
                <small class="text-muted">115 € / jour</small>
              </div>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card shadow-sm">
            <svg
              class="bd-placeholder-img card-img-top"
              width="100%"
              height="225"
              xmlns="http://www.w3.org/2000/svg"
              role="img"
              aria-label="Placeholder: Thumbnail"
              preserveAspectRatio="xMidYMid slice"
              focusable="false"
            >
              <title>Placeholder</title>
              <rect width="100%" height="100%" fill="#55595c" />
              <text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text>
            </svg>
            <div class="card-body">
              <p class="card-text">Voiture trés jolie</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button
                    type="button"
                    class="btn btn-sm btn-outline-secondary"
                  >
                    Louer
                  </button>
                </div>
                <small class="text-muted">115 € / jour</small>
              </div>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card shadow-sm">
            <svg
              class="bd-placeholder-img card-img-top"
              width="100%"
              height="225"
              xmlns="http://www.w3.org/2000/svg"
              role="img"
              aria-label="Placeholder: Thumbnail"
              preserveAspectRatio="xMidYMid slice"
              focusable="false"
            >
              <title>Placeholder</title>
              <rect width="100%" height="100%" fill="#55595c" />
              <text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text>
            </svg>
            <div class="card-body">
              <p class="card-text">Voiture trés jolie</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button
                    type="button"
                    class="btn btn-sm btn-outline-secondary"
                  >
                    Louer
                  </button>
                </div>
                <small class="text-muted">115 € / jour</small>
              </div>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card shadow-sm">
            <svg
              class="bd-placeholder-img card-img-top"
              width="100%"
              height="225"
              xmlns="http://www.w3.org/2000/svg"
              role="img"
              aria-label="Placeholder: Thumbnail"
              preserveAspectRatio="xMidYMid slice"
              focusable="false"
            >
              <title>Placeholder</title>
              <rect width="100%" height="100%" fill="#55595c" />
              <text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text>
            </svg>
            <div class="card-body">
              <p class="card-text">Voiture trés jolie</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button
                    type="button"
                    class="btn btn-sm btn-outline-secondary"
                  >
                    Louer
                  </button>
                </div>
                <small class="text-muted">115 € / jour</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <svg
              class="bd-placeholder-img card-img-top"
              width="100%"
              height="225"
              xmlns="http://www.w3.org/2000/svg"
              role="img"
              aria-label="Placeholder: Thumbnail"
              preserveAspectRatio="xMidYMid slice"
              focusable="false"
            >
              <title>Placeholder</title>
              <rect width="100%" height="100%" fill="#55595c" />
              <text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text>
            </svg>

            <div class="card-body">
              <p class="card-text">Voiture trés jolie</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button
                    type="button"
                    class="btn btn-sm btn-outline-secondary"
                  >
                    Louer
                  </button>
                </div>
                <small class="text-muted">115 € / jour</small>
              </div>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card shadow-sm">
            <svg
              class="bd-placeholder-img card-img-top"
              width="100%"
              height="225"
              xmlns="http://www.w3.org/2000/svg"
              role="img"
              aria-label="Placeholder: Thumbnail"
              preserveAspectRatio="xMidYMid slice"
              focusable="false"
            >
              <title>Placeholder</title>
              <rect width="100%" height="100%" fill="#55595c" />
              <text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text>
            </svg>

            <div class="card-body">
              <p class="card-text">Voiture trés jolie</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button
                    type="button"
                    class="btn btn-sm btn-outline-secondary"
                  >
                    Louer
                  </button>
                </div>
                <small class="text-muted">115 € / jour</small>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <p>
          <a
            type="button"
            class="btn btn-primary my-2"
            routerLink="/annonce"
            routerLinkActive="active"
          >
            Regarder nos voitures</a
          >
        </p>
      </div>
    </div>
  </section>-->
</main>
