<main>

  <section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">Askip, t'as pas de voiture ?</h1>
        <p class="lead text-muted">Loues en une chez nous, ya pas d'arnaque, wallah jte jure.</p>
        <p>
          <a href="#" class="btn btn-primary my-2">regarder nos voitures</a>
        </p>
      </div>
    </div>
  </section>

  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
    <div class="col">
      <div class="card shadow-sm">
        <div class="card-body">
          <p class="card-text">C'est une belle voiture</p>
          <div class="d-flex justify-content-between align-items-center">
            <div class="info">
              <p class="card-text">John Doe. Il y a 5 jours.</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card shadow-sm">
        <div class="card-body">
          <p class="card-text">C'est une belle voiture</p>
          <div class="d-flex justify-content-between align-items-center">
            <div class="info">
              <p class="card-text">John Doe. Il y a 5 jours.</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card shadow-sm">
        <div class="card-body">
          <p class="card-text">C'est une belle voiture</p>
          <div class="d-flex justify-content-between align-items-center">
            <div class="info">
              <p class="card-text">John Doe. Il y a 5 jours.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="album py-5 bg-light">
    <div class="container">
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <div class="col">
          <div class="card shadow-sm">
            <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
            <div class="card-body">
              <p class="card-text">Voiture trés jolie</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">Louer</button>
                </div>
                <small class="text-muted">115 € / jour</small>
              </div>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card shadow-sm">
            <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
            <div class="card-body">
              <p class="card-text">Voiture trés jolie</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">Louer</button>
                </div>
                <small class="text-muted">115 € / jour</small>
              </div>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card shadow-sm">
            <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
            <div class="card-body">
              <p class="card-text">Voiture trés jolie</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">Louer</button>
                </div>
                <small class="text-muted">115 € / jour</small>
              </div>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card shadow-sm">
            <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
            <div class="card-body">
              <p class="card-text">Voiture trés jolie</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">Louer</button>
                </div>
                <small class="text-muted">115 € / jour</small>
              </div>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card shadow-sm">
            <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
            <div class="card-body">
              <p class="card-text">Voiture trés jolie</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">Louer</button>
                </div>
                <small class="text-muted">115 € / jour</small>
              </div>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card shadow-sm">
            <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
            <div class="card-body">
              <p class="card-text">Voiture trés jolie</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">Louer</button>
                </div>
                <small class="text-muted">115 € / jour</small>
              </div>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card shadow-sm">
            <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
            <div class="card-body">
              <p class="card-text">Voiture trés jolie</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">Louer</button>
                </div>
                <small class="text-muted">115 € / jour</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>

            <div class="card-body">
              <p class="card-text">Voiture trés jolie</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">Louer</button>
                </div>
                <small class="text-muted">115 € / jour</small>
              </div>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card shadow-sm">
            <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>

            <div class="card-body">
              <p class="card-text">Voiture trés jolie</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">Louer</button>
                </div>
                <small class="text-muted">115 € / jour</small>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <p>
          <a href="#" class="btn btn-primary my-2">regarder nos voitures</a>
        </p>
      </div>
    </div>
  </section>

</main>

<div class="p-3 text-bg-dark">
  <footer class="">
    <div class="row">
      <div class="col">
        <h5>Nos marques</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Citroen</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Renault</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Peugeot</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Tata</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Tesla</a></li>
        </ul>
      </div>

      <div class="col">
        <h5>Villes</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Lille</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Paris</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Lyon</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Marseille</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Toulon</a></li>
        </ul>
      </div>

      <div class="col">
        <h5>Nos spécialités</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Voiture de mariage</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Voiture de sport</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Voiture electrique</a></li>
        </ul>
      </div>

      <div class="col">
        <h5>Conditions</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Assurance</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">FAQ</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">CGU</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Conseils</a></li>
        </ul>
      </div>

      <div class="col">
        <h5>Nous trouver</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Facebook</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Instagram</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Twitter</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Nous contacter</a></li>
        </ul>
      </div>

      <div class="d-flex justify-content-center">
        <form>
          <h5>S'inscrire à notre newsletter</h5>
          <p>Pour suivre toutes les conneries que l'on pourrait faire</p>
          <div class="d-flex justify-content-center flex-sm-row w-100 gap-2">
            <label for="newsletter1" class="visually-hidden">Votre adresse mail</label>
            <input id="newsletter1" type="text" class="form-control" placeholder="Votre adresse mail">
            <button class="btn btn-primary" type="button">Validationer</button>
          </div>
        </form>
      </div>
    </div>

    <div class="d-flex flex-column flex-sm-row justify-content-between py-4 my-4 border-top">
      <p>&copy; 2022 Locanarque. Fait avec beaucoup de soin.</p>
      <ul class="list-unstyled d-flex">
        <li class="ms-3"><a class="link-dark" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#twitter"/></svg></a></li>
        <li class="ms-3"><a class="link-dark" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#instagram"/></svg></a></li>
        <li class="ms-3"><a class="link-dark" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#facebook"/></svg></a></li>
      </ul>
    </div>
  </footer>
</div>
