<section class="search-banner bg-dark text-white py-5" id="search-banner">
    <div class="container py-5 my-5">
    <div class="row text-center pb-4">
        <div class="col-md-12">
            <h2>Trouvez la voiture de vos rêves</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                <div class="col-md-2">
                    <div class="form-group ">
                      <input class="form-control" placeholder="Ville de départ" />
                    </div>
                </div>
                <div class="col-md-2">
                  <div class="form-group ">
                    <input class="form-control" type="date" id="start" value="2022-01-25">
                  </div>
                </div>
                <div class="col-md-2">
                  <div class="form-group ">
                    <input class="form-control" type="date" id="end" value="2022-01-28">
                  </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group ">
                          <select id="inputState" class="form-control" >
                            <option selected>Categorie</option>
                            <option>Berline</option>
                            <option>Familiale</option>
                            <option>Sportive</option>
                            <option>Utilitaire</option>
                            <option>Citadine</option>
                          </select>
                        </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group ">
                          <select id="inputState" class="form-control" >
                            <option selected>Etat</option>
                            <option>Mint</option>
                            <option>nearMint</option>
                            <option>excellent</option>
                            <option>fine</option>
                            <option>good</option>
                            <option>played</option>
                            <option>poor</option>
                          </select>
                        </div>
                </div>
                <div class="col-md-2">
                    <button type="button" class="btn btn-dark">Lancer la recherche</button>

                </div>
            </div>
                </div>
            </div>

        </div>
    </div>
</div>
</section>
<div class="row mb-3">
  <div class="col-md-8">
      <div class="card">
          <div class="card-body">
              <div class="row ">
                  <div class="col-md-3">
                      <img src="assets\images\berlingo.webp" height="100px" width="150px" alt="">
                  </div>
                  <div class="col-md-5">
                      <h4>Berlingo</h4>
                      <a
                      routerLink="/annonce-view" routerLinkActive="active">
                      Plus d'infos</a>
                      <ul class="list-unstyled list-inline">
                          <li class="list-inline-item">Utilitaire</li>
                          <li class="list-inline-item">Mint</li>
                          <li class="list-inline-item">300.000 km</li>
                      </ul>
                  </div>
                  <div class="col-md-4">
                      <h6>25 € / jour</h6>
                      <small>Dunkerque</small>
                      <div class="sub-row">
                          <button type="button" routerLink="/annonce-view" routerLinkActive="active" class="btn btn-secondary btn-sm btn-block">Louer ce véhicule</button>
                      </div>
                  </div>
              </div>
          </div>
      </div>


  </div>
</div>
<div class="row mb-3">
  <div class="col-md-8">
      <div class="card">
          <div class="card-body">
              <div class="row ">
                  <div class="col-md-3">
                      <img src="assets\images\berlingo.webp"  height="100px" width="150px" alt="">
                  </div>
                  <div class="col-md-5">
                      <h4>Berlingo</h4>
                      <a routerLink="/annonce-view" routerLinkActive="active">Plus d'infos</a>
                      <ul class="list-unstyled list-inline">
                          <li class="list-inline-item">Utilitaire</li>
                          <li class="list-inline-item">Mint</li>
                          <li class="list-inline-item">300.000 km</li>
                      </ul>
                  </div>
                  <div class="col-md-4">
                      <h6>25 € / jour</h6>
                      <small>Dunkerque</small>
                      <div class="sub-row">
                          <button type="button" routerLink="/annonce-view" routerLinkActive="active" class="btn btn-secondary btn-sm btn-block">Louer ce véhicule</button>
                      </div>
                  </div>
              </div>
          </div>
      </div>


  </div>
</div>
<div class="row mb-3">
  <div class="col-md-8">
      <div class="card">
          <div class="card-body">
              <div class="row ">
                  <div class="col-md-3">
                      <img src="assets\images\berlingo.webp"  height="100px" width="150px" alt="">
                  </div>
                  <div class="col-md-5">
                      <h4>Berlingo</h4>
                      <a routerLink="/annonce-view" routerLinkActive="active">Plus d'infos</a>
                      <ul class="list-unstyled list-inline">
                          <li class="list-inline-item">Utilitaire</li>
                          <li class="list-inline-item">Mint</li>
                          <li class="list-inline-item">300.000 km</li>
                      </ul>
                  </div>
                  <div class="col-md-4">
                      <h6>25 € / jour</h6>
                      <small>Dunkerque</small>
                      <div class="sub-row">
                          <button type="button" routerLink="/annonce-view" routerLinkActive="active"class="btn btn-secondary btn-sm btn-block">Louer ce véhicule</button>
                      </div>
                  </div>
              </div>
          </div>
      </div>


  </div>
</div>
<div class="row mb-3">
  <div class="col-md-8">
      <div class="card">
          <div class="card-body">
              <div class="row ">
                  <div class="col-md-3">
                      <img src="assets\images\berlingo.webp"  height="100px" width="150px" alt="">
                  </div>
                  <div class="col-md-5">
                      <h4>Berlingo</h4>
                      <a routerLink="/annonce-view" routerLinkActive="active">Plus d'infos</a>
                      <ul class="list-unstyled list-inline">
                          <li class="list-inline-item">Utilitaire</li>
                          <li class="list-inline-item">Mint</li>
                          <li class="list-inline-item">300.000 km</li>
                      </ul>
                  </div>
                  <div class="col-md-4">
                      <h6>25 € / jour</h6>
                      <small>Dunkerque</small>
                      <div class="sub-row">
                          <button type="button" routerLink="/annonce-view" routerLinkActive="active" class="btn btn-secondary btn-sm btn-block">Louer ce véhicule</button>
                      </div>
                  </div>
              </div>
          </div>
      </div>


  </div>
</div>
<div class="row mb-3">
  <div class="col-md-8">
      <div class="card">
          <div class="card-body">
              <div class="row ">
                  <div class="col-md-3">
                      <img src="assets\images\berlingo.webp"  height="100px" width="150px" alt="">
                  </div>
                  <div class="col-md-5">
                      <h4>Berlingo</h4>
                      <a routerLink="/annonce-view" routerLinkActive="active">Plus d'infos</a>
                      <ul class="list-unstyled list-inline">
                          <li class="list-inline-item">Utilitaire</li>
                          <li class="list-inline-item">Mint</li>
                          <li class="list-inline-item">300.000 km</li>
                      </ul>
                  </div>
                  <div class="col-md-4">
                      <h6>25 € / jour</h6>
                      <small>Dunkerque</small>
                      <div class="sub-row">
                          <button type="button" routerLink="/annonce-view" routerLinkActive="active" class="btn btn-secondary btn-sm btn-block">Louer ce véhicule</button>
                      </div>
                  </div>
              </div>
          </div>
      </div>


  </div>
</div>
<div class="row mb-3">
  <div class="col-md-8">
      <div class="card">
          <div class="card-body">
              <div class="row ">
                  <div class="col-md-3">
                      <img src="assets\images\berlingo.webp"  height="100px" width="150px" alt="">
                  </div>
                  <div class="col-md-5">
                      <h4>Berlingo</h4>
                      <a routerLink="/annonce-view" routerLinkActive="active">Plus d'infos</a>
                      <ul class="list-unstyled list-inline">
                          <li class="list-inline-item">Utilitaire</li>
                          <li class="list-inline-item">Mint</li>
                          <li class="list-inline-item">300.000 km</li>
                      </ul>
                  </div>
                  <div class="col-md-4">
                      <h6>25 € / jour</h6>
                      <small>Dunkerque</small>
                      <div class="sub-row">
                          <button type="button" routerLink="/annonce-view" routerLinkActive="active" class="btn btn-secondary btn-sm btn-block">Louer ce véhicule</button>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>

  <div class="p-3 text-bg-dark">
    <footer class="">
      <div class="row">
        <div class="col">
          <h5>Nos marques</h5>
          <ul class="nav flex-column">
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Citroen</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Renault</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Peugeot</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Tata</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Tesla</a></li>
          </ul>
        </div>

        <div class="col">
          <h5>Villes</h5>
          <ul class="nav flex-column">
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Lille</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Paris</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Lyon</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Marseille</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Toulon</a></li>
          </ul>
        </div>

        <div class="col">
          <h5>Nos spécialités</h5>
          <ul class="nav flex-column">
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Voiture de mariage</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Voiture de sport</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Voiture electrique</a></li>
          </ul>
        </div>

        <div class="col">
          <h5>Conditions</h5>
          <ul class="nav flex-column">
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Assurance</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">FAQ</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">CGU</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Conseils</a></li>
          </ul>
        </div>

        <div class="col">
          <h5>Nous trouver</h5>
          <ul class="nav flex-column">
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Facebook</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Instagram</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Twitter</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Nous contacter</a></li>
          </ul>
        </div>

        <div class="d-flex justify-content-center">
          <form>
            <h5>S'inscrire à notre newsletter</h5>
            <p>Pour suivre toutes les conneries que l'on pourrait faire</p>
            <div class="d-flex justify-content-center flex-sm-row w-100 gap-2">
              <label for="newsletter1" class="visually-hidden">Votre adresse mail</label>
              <input id="newsletter1" type="text" class="form-control" placeholder="Votre adresse mail">
              <button class="btn btn-primary" type="button">Validationer</button>
            </div>
          </form>
        </div>
      </div>

      <div class="d-flex flex-column flex-sm-row justify-content-between py-4 my-4 border-top">
        <p>&copy; 2022 Locanarque. Fait avec beaucoup de soin.</p>
        <ul class="list-unstyled d-flex">
          <li class="ms-3"><a class="link-dark" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#twitter"/></svg></a></li>
          <li class="ms-3"><a class="link-dark" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#instagram"/></svg></a></li>
          <li class="ms-3"><a class="link-dark" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#facebook"/></svg></a></li>
        </ul>
      </div>
    </footer>
  </div>



